<style>
  h1 {
    text-align: center;
    font-size: 20px ;
    color: #336666;

  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  label{
    font-family: Verdana;
    font-size: 12px;
  }
  .image-upload > input
  {
    display: none;
  }

  .image-upload img
  {
    width: 50px;
    cursor: pointer;
  }


</style>
<!--<h1>Submission form</h1>-->

<form style="text-align: center" method="get"  onsubmit="window.location.href = 'http://localhost:4200/map'; return false;">



  <ul class="form-style-1">
    <li>
     <!-- <label for="exampleFormControlFile1">Upload picture</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">-->
      <div class="image-upload">
        <label for="file-input">
          <img src="assets/camera.svg" id="iconcamera"/>
        </label>

        <input id="file-input" type="file"    accept="image/*"/>


      </div>


    </li>

    <div class="grid">

    <li><label style="float: left">Date    </label> <label>Time</label><input type="time" name="field1" class="field-divided" placeholder="Date"  style="float: right"/>
      <input type="date" name="field2" class="field-divided" style="float: left" /></li>

    <li>

    </li>
    <li>
      <label>City</label>
      <input type="text" name="field3" class="field-long" placeholder="City" />
    </li>
    <li>
      <label>Water Source</label>
      <select name="field4" class="field-select" >
        <option value="River">River</option>
        <option value="Sea">Sea</option>
        <option value="Well">Well</option>
        <option value="Rain">Rain</option>
      </select>
    </li>
    <li>
      <label>Water temperature</label>
      <input type="text" name="field5" class="field-long" placeholder="Water temperature" />
    </li>
    <li>
      <label>PH</label>
      <select name="field6" class="field-select">
        <option value="4">4</option>
        <option value="4,5">4,5</option>
        <option value="5">5</option>
        <option value="5,5">5,5</option>
        <option value="6">6</option>
        <option value="6,5">6,5</option>
        <option value="7">7</option>
        <option value="7,5">7,5</option>
        <option value="8">8</option>
        <option value="8,5">8,5</option>
        <option value="9">9</option>
        <option value="9,5">9,5</option>
        <option value="10">10</option>

      </select>
    </li>
    <li>
      <label>Dioxygen</label>
      <input type="text" name="field7" class="field-long" placeholder="Dioxygen" />
    </li>
    <li>
      <label>Turbulance</label>
      <input type="text" name="field8" class="field-long" placeholder="Turbulance(0-100)" />
    </li>
    <li>
      <input type="submit" value="Submit" />
    </li>
    </div>

  </ul>


</form>





