<link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
<body>
<p align="center">“Water Hackers Map” is a digital map of the
  water quality in Luxembourg.<br>
  <br>
  Click here to enter your water sample in the
  database.
</p>

<div style="text-align: center">
  <a routerLink="/newSample" routerLinkActive="active"   style="text-align: center"><img src="assets/plus.svg "  width=60px height=60px></a>
</div>


<div style="text-align: left; margin-left: 5px;margin-bottom: 5px">
  <a routerLink="/imagegrid" routerLinkActive="active"  style="text-align: left"><img width="40px" height="40px"
    src="assets/imagegrid.svg" ></a>
</div>
</body>
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<a href="{{backendUrl}}"   style="margin-left: 10px">
  Click here if you want to collect the sample data
</a>
<a  href="http://water-hackers.lu/" routerLinkActive="active">
  <img  width="50px" height="50px"  style="float: right; margin-right: 10px"  src="assets/Waterhackers.svg" /></a>
