<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align: center">
<a  href="http://water-hackers.lu/" routerLinkActive="active">
  <img  width="168px" height="109px"  style="margin-top: 100px"  src="assets/logo_water-hackers-01.svg" /></a>

<a  routerLink="/" routerLinkActive="active" > <h1>MAP</h1></a>
</div>
<body>
<!--<a  routerLink="/map" routerLinkActive="active"><h1>Waterhackers Map</h1></a>-->
<div style="text-align: center">


</div >


<!--<div style="text-align: left">
  <a routerLink="/imagegrid" routerLinkActive="active"  style="text-align: left"><img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAAaklEQVRIiWNgoDPwYmBgeMzAwPAfih8zMDB40kINsiQMP0IzhCI1jFAF/3H4lBGJTZEaJhwSVAcwi55gkXuMxqeKGk8GSFgih6sHmgZqqRkF5IHRDEuymtEMO5phBw6MZliS1Yxm2MGfYQEsMZrS1tw3jgAAAABJRU5ErkJggg=="></a>
</div>-->




<!--div #mapContainer id="map"></div-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


</body>
<router-outlet>
</router-outlet>
