
#map {
  height: 480px;
  width: 100%;
}


p {
  font-family: 'Gotham Book', Fallback, sans-serif !important;
  font-size: 16px;
}

body {
  background-color: lightblue;
}

h1 {
  color: #ffcc66;

  font-size: 24px;
  alignment: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;

}
p {
  font-family: 'GothamBook', Fallback, sans-serif !important;
  font-size: 16px;

  color: #404f57;
  text-align: center;

}




a {
  color: #99ccff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}















