
#map {
  height: 480px;
  width: 100%;
}


p {
  font-family: 'Gotham Book', Fallback, sans-serif !important;
  font-size: 16px;
}

body {
  background-color: lightblue;
}

h1 {
  color: #ffcc66;

  font-size: 24px;
  alignment: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;

}
p {
  font-family: 'GothamBook', Fallback, sans-serif !important;
  font-size: 16px;

  color: #404f57;
  text-align: center;

}




a {
  color: #99ccff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}



.button {
  background-color: red;
  border: none;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}








#map_canvas {
  position: relative;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
