<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div align="center" style="margin-bottom: 10px">
<a  href="http://water-hackers.lu/" routerLinkActive="active">
  <img  width="168px" height="109px"   style="margin-top: 100px"  src="assets/logo_water-hackers-01.svg" /></a>

<a  routerLink="/map" routerLinkActive="active" > <h1>MAP</h1></a>

<!--<a  routerLink="/map" routerLinkActive="active"><h1>Waterhackers Map</h1></a>-->
</div>


<!--<p align="center">“Water Hackers Map” is a digital map of the
  water quality in Luxembourg.</p>
<p align="center">Click here to enter your water sample in the
  database.</p>

<div style="text-align: center">
  <a routerLink="/form2" routerLinkActive="active"   style="text-align: center"><img src="assets/plus.svg "  width=60px height=60px></a>
</div>-->


<router-outlet>
</router-outlet>


<!--div #mapContainer id="map"></div-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



