<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  @font-face {
    font-family: 'GothamBold';
    src: url('/assets/font/Gotham-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'GothamBook';
    src: url('/assets/font/Gotham-Book.otf') format('opentype');
  }
</style>

<a  href="http://water-hackers.lu/" routerLinkActive="active">
  <img  width="168px" height="109px"  style="margin-left: 100px ; margin-top: 100px"  src="assets/logo_water-hackers-01.svg" /></a>

<a  routerLink="/map" routerLinkActive="active" > <h1>MAP</h1></a>
<body>
<!--<a  routerLink="/map" routerLinkActive="active"><h1>Waterhackers Map</h1></a>-->
<div style="text-align: center">

  <br>
  <br>
</div >

<p align="center">“Water Hackers Map” is a digital map of the
  water quality in Luxembourg.</p>
<p align="center">Click here to enter your water sample in the
  database.</p>

<div style="text-align: center">
  <a routerLink="/form2" routerLinkActive="active"   style="text-align: center"><img src="assets/plus.svg "  width=60px height=60px></a>
</div>
<!--<div style="text-align: left">
  <a routerLink="/imagegrid" routerLinkActive="active"  style="text-align: left"><img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAAaklEQVRIiWNgoDPwYmBgeMzAwPAfih8zMDB40kINsiQMP0IzhCI1jFAF/3H4lBGJTZEaJhwSVAcwi55gkXuMxqeKGk8GSFgih6sHmgZqqRkF5IHRDEuymtEMO5phBw6MZliS1Yxm2MGfYQEsMZrS1tw3jgAAAABJRU5ErkJggg=="></a>
</div>-->

<router-outlet>
</router-outlet>


<!--div #mapContainer id="map"></div-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


</body>
