
<body>
<form [formGroup]="form" (ngSubmit)="submit()" >

  <mat-horizontal-stepper [linear]="true">

    <mat-step  *ngFor="let step of steps; let index = index; let last = last;">
      <ng-template matStepperIcon="edit">
        <mat-icon>{{''}}</mat-icon>
      </ng-template>
      <ng-template matStepLabel>{{ step.label }}</ng-template>


      <p *ngIf="index==0" style="font-family: GothamBook">TAKE A PICTURE OF THE WATER AND PLACE YOU ANALYSE</p>
      <p *ngIf="index==1">TELL US ABOUT WHAT YOU CAN SEE:<br>
        THE SURROUNDINGS, POTENTIAL CAUSES OF<br>
        CONTAMINATION, HUMAN ACTIVITIES, FLORA AND FAUNA.</p>
      <p *ngIf="index==2">ANALYSE THE BASIC PARAMETERS SUCH AS:<br>
        TEMPERATURE, PH, DISSOLVED OXYGEN AND TURBIDITY.<br>
        WE CHOSE THESE PARAMETERS BECAUSE THEY CAN GIVE<br>
        A FAST AND PRECISE IDEA OF THE WATER DIVERSITY.</p>

      <formly-form
        [form]="form.at(index)"
        [model]="model"
        [fields]="step.fields"
        [options]="options[index]"
      >
      </formly-form>

      <div>
        <button *ngIf="index !== 0 " matStepperPrevious class="btn btn-primary" style="font-size: 40px; bottom: -16px" type="button"
                (click)="prevStep(index)"><
        </button>
        <button *ngIf="!last "   matStepperNext class="btn btn-primary" type="button" style="font-size: 40px;bottom: -6px" [disabled]="!form.at(index).valid"
                (click)="nextStep(index)">>
        </button>

        <button *ngIf="last "   matStepperNext class="btn btn-primary" type="button" style="font-size: 40px;bottom: -6px" [disabled]="!form.at(index).valid"
                (click)="submit()">>
        </button>
      </div>

    </mat-step>
  </mat-horizontal-stepper>
</form>
</body>
