<div class="butts" align="center">
  <p style="font-size: 30px">Well done!</p><br>
  <p  style="font-size: 12px; font-family: GothamBold">YOU HAVE RUN THE TESTS, BUT THAT’S JUST A SMALL
    STEP.<br>
    <br>
    CONTINUE TO EXPERIENCE WATER IN OUR<br>
    WATER HACKER COMMUNITY.</p>
  <button  onclick="location.href = '/map';"
          style="background-color: #3f4e57; border-color: #3f4e57;width: 300px ">Back to Map
  </button>
  <br>
  <button  onclick="location.href = 'http://water-hackers.lu/';"
          style="background-color: #ffcc66; border-color: #ffcc66;width: 300px ">Back to Water-Hackers.lu
  </button>
</div>
