@import '~bootstrap/dist/css/bootstrap.min.css';


body{
  background-color: lightblue;
}
h2{
  alignment: center;
  text-align: center;
  margin-top: 30px;
}
.b{
  font-family: GothamBold;
}

.container{
 display:inline-block;
  clear: none;


}
.container_image{
  display: inline-block;
  float: left
}


.container_text{
  vertical-align: top;

  display: inline-block;
  float: right;


}
.info{
  font-family: GothamBold;
  margin: 30px;
}
