<div style="text-align: left">
  <a routerLink="/imagegrid" routerLinkActive="active"  style="text-align: left"><img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAACZElEQVRoge2ZvU5UQRTHf0uUDxPBrFDRLGqUQgtJLITgMyhrZSI22kmphT4CpS/AE2ANFViIicZKAhK/ghKpjEpkVwgfxdzdHGbvzJ0DZG+A+SU3mXuy/3Pm3N2dc+YORCKRSJ4UUmyngRvAGY9uE3gPrFn2S0ApI+Y34JNl6wSuJ7FdrANvk9hOCsAssBNwfQeKQvsA2ArQbQGjQnc+8RUSc5b0h16nFOiodo0I7ZRCNyV0ZWXMkpxwi5VAhy+7FOTPTKPtcIy12oYEjhwxgbw5dglUlfrKPrVVx1gbs4EW4A1hy9lPoFtoHwHbAbpt4KHQ9QCrgTHnsB56WlFoB4aBc55EK8Br4Jdlvwr0O/ySTGIBmLfsRWAQ/5L6G3gF/Pd8JtJ00r7qMvAYOOvRbQAvgXFh603uL2fEXAKeACvC9hS4DbR6dGvAC2DS57wTsyqE9iU3hXZCoZsQukGFrprMsY69jPYCbb4MLS44xhpdn0LXhpljnYMWMm9r2wwfx64SHzlOfAI7hzCHA/mwE1hBV6o/i/GXJuiqwA9pOGV94C9wDxgju5BNYhq/Gs8whSirkH0Enov7OUwhu0NYIbPfhERyxdVO3wK6PDpXO30NuOLwC+YPuwh8sOxFYCiJ7eIPpp32boA0G5pVzGakRi4bGpu+QEe1qyy00wrdtNDdVcYsyQnb2fi+wjTkDkqjbXeMtTFjJc6dmEDe2Al4XxqlsL5PbcUx1sZsoADMELacLbP3gGOU8AOO+0JXTHyFxJzBKpKHfcR0kew97lf2dqNgGscB/EdM/4B3ZBwxRSKRSHPZBU7VMgmUviUEAAAAAElFTkSuQmCC"></a>
</div>

<div id="map" class="map"></div>
